<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/editar-perfil.css">

<body>
    <!--header-->
    <%- include("./partials/header.ejs") %>
        <div class="information-profile">
            <div class="information-top">
            <h2 class="copy-information">Editar informacion personal</h2>
            </div>
            <form class="information-list" action="/users/profile/edit?_method=PUT" method="POST">
                <label>Nombre</label>
                <input class="information-user" name="nombre" type="text" value="<%= usuario.nombre %>">
                <label>Apellido</label>
                <input class="information-user" name="apellido" type="text" value="<%= usuario.apellido %>">
                <label>Email</label>
                <input class="information-user" name="email" type="email" value="<%= usuario.email %>">
                <label>Celular</label>
                <input class="information-user" name="celular" type="tel" value="<%= usuario.celular ? usuario.celular : ''%>">
                <div class="buttons">
                    <button class='submit' type="submit">Editar</button>
                    <button class='reset' type="reset">Cancelar</button>
                </div>
            </form>
        </div>

    <!--footer-->
    <%- include("./partials/footer.ejs") %>
</body>

</html>