<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/forms-styles.css">


    <body>
        <!--header-->
        <%- include("./partials/header.ejs") %>
            <div class="register">
                <div class="register-top">
                    <h2 class="copy-register">Ingresá tus datos</h2>
                    <form action="/users/register" method="POST" class="form-register">
                        <div id="grupo-name" class="grupo-formulario">
                            <label for="name" class="label-form">Nombre</label>
                            <i class="validacion-estado-icono fas fa-check-circle"></i>
                            <input type="text" id='name' class='inputs estado-input' name="name"
                                value='<%= locals.old && !locals.errors.name ? old.name : "" %>'>
                            <p class="errorFront"></p>
                            <% if (locals.errors && locals.errors.name) {%>
                                <p class="errors">
                                    <%= errors.name.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div id="grupo-surname" class="grupo-formulario">
                            <label for="name" class="label-form">Apellido</label>
                            <i class="validacion-estado-icono fas fa-check-circle"></i>
                            <input type="text" id="surname" class='inputs estado-input' name="surname"
                                value='<%= locals.old && !locals.errors.surname ? old.surname : "" %>'>
                            <p class="errorFront"> </p>
                            <% if (locals.errors && locals.errors.surname) {%>
                                <p class="errors">
                                    <%= errors.surname.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div id="grupo-email" class="grupo-formulario">
                            <label for="name" class="label-form">Email</label>
                            <i class="validacion-estado-icono fas fa-check-circle"></i>
                            <input type="email" id="email" class='inputs estado-input' name="email"
                                value='<%= locals.old && !locals.errors.email ? old.email : "" %>'>
                            <p class="errorFront"></p>
                            <% if (locals.errors && locals.errors.email) {%>
                                <p class="errors">
                                    <%= errors.email.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div id="grupo-password" class="grupo-formulario">
                            <label for="name" class="label-form">Contraseña</label>
                            <i class="validacion-estado-icono fas fa-check-circle"></i>
                            <input type="password" id="password" class='inputs estado-input' name="password">
                            <p class="errorFront"></p>
                            <% if (locals.errors && locals.errors.password) {%>
                                <p class="errors">
                                    <%= errors.password.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div id="grupo-confirm" class="grupo-formulario">
                            <label for="name" class="label-form">Confirmar Contraseña</label>
                            <i class="validacion-estado-icono fas fa-check-circle"></i>
                            <input type="password" id="confirm" class='inputs estado-input' name="confirm">
                            <p class="errorFront"></p>
                            <% if (locals.errors && locals.errors.confirm) {%>
                                <p class="errors">
                                    <%= errors.confirm.msg %>
                                </p>
                                <% } %>
                        </div>
                        <div class="button">
                            <p class="errorFront"></p>
                            <button type="submit">Registrarse</button>
                        </div>
                    </form>
                    <p class="copy-login">¿Ya tienes cuenta? Ingresa <a class="login-button"
                            href="/users/login">aqui</a></p>
                </div>
                <div class="register-bottom">
                    <div class="register" href="#">
                        <p>Ingresar con Google</p>
                        <img src="/images/marcas/google.png" class="img-logo-app">
                    </div>
                    <div class="register" href="#">
                        <p>Ingresar con Facebook</p>
                        <img src="/images/marcas/facebook.png" class="img-logo-app">
                    </div>
                    <div class="register" href="#">
                        <p>Ingresar con Apple</p>
                        <img src="/images/marcas/apple.png" class="img-logo-app">
                    </div>
                </div>
            </div>
            <!--footer-->
            <%- include("./partials/footer.ejs") %>
    </body>
    <script src="/js/registerValidation.js"></script>

</html>