<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/forms-styles.css">


    <body>
        <!--header-->
        <%- include("./partials/header.ejs") %>
            <div class="register">
                <div class="register-top">
                    <h2 class="copy-register">Ingresá tus datos</h2>
                    <form action="/users/register" method="POST" class="form-register">
                        <div>
                            <% if (locals.errors && locals.errors.name) {%>
                                <p class="errors"><%= errors.name.msg %></p>
                            <% } %>
                            <input type="text" name="name" placeholder="Nombre">
                        </div>
                        <div>
                            <% if (locals.errors && locals.errors.surname) {%>
                                <p class="errors"><%= errors.surname.msg %></p>
                            <% } %>
                            <input type="text" name="surname" placeholder="Apellido">
                        </div>
                        <div>
                            <% if (locals.errors && locals.errors.email) {%>
                                <p class="errors"><%= errors.email.msg %></p>
                            <% } %>
                            <input type="email" name="email" placeholder="E-mail">
                        </div>
                        <div>
                            <% if (locals.errors && locals.errors.password) {%>
                                <p class="errors"><%= errors.password.msg %></p>
                            <% } %>
                            <input type="password" name="password" placeholder="Contraseña">
                        </div>
                        <div>
                            <% if (locals.errors && locals.errors.confirm) {%>
                                <p class="errors"><%= errors.confirm.msg %></p>
                            <% } %>
                            <input type="password" name="confirm" placeholder="Confirmar contraseña">
                        </div>
                        <div class="button">
                            <button type="submit">Registrarse</button>
                        </div>
                    </form>
                    <p class="copy-login">¿Ya tienes cuenta? Ingresa <a class="login-button"
                            href="/users/login">aqui</a></p>
                </div>
                <div class="register-bottom">
                    <div class="register" href="#">
                        <p>Ingresar con Google</p>
                        <img src="/images/marcas/google.png" class="img-logo-app">
                    </div>
                    <div class="register" href="#">
                        <p>Ingresar con Facebook</p>
                        <img src="/images/marcas/facebook.png" class="img-logo-app">
                    </div>
                    <div class="register" href="#">
                        <p>Ingresar con Apple</p>
                        <img src="/images/marcas/apple.png" class="img-logo-app">
                    </div>
                </div>
            </div>
                    <!--footer-->
                    <%- include("./partials/footer.ejs") %>
    </body>

</html>