<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("./partials/head.ejs") %>
  <link rel="stylesheet" href="/css/admin-buscar.css">


  <body>
    <%- include("./partials/header.ejs") %>
      <main>
        <div class="contenedor-buscar">
          <div class="barra-titulo">
            <form class="formulario-busqueda" action="/products/buscar" method="GET">
              <input class='estado-input ' type="text" name="name" placeholder="Nombre del producto" required>
              <button class="boton-busqueda" type="submit">Buscar</button>
            </form>
          </div>
          <section class="productos-destacados">
          
              <% products.forEach(product=> { %>
                <article class="caja-producto">
                  <img class="imagen-producto" src="<%= product.image %>">
                  <div class="descripcion-producto">
                    <p id="descripcion">
                      <span class="contenedor-descripcion">
                        <strong>Titulo : </strong>
                        <%= product.name %><br>
                      </span>
                      <span class="contenedor-descripcion">
                        <strong>Color : </strong>
                        <%= product.color.name %>
                      </span><br>
                      <span class="contenedor-descripcion">
                        <strong>Talla : </strong>
                        <%= product.size.size %>
                      </span><br>
                      <span class="contenedor-descripcion">
                        <strong>Precio : </strong>
                      </span>
                      $ <%= product.price %>
                    </p>
                    <div class="botones-submit">
                      <form action='/products/edit/<%= product.id %>' method="GET">
                        <button class="submit" type="submit">Editar</button>
                      </form>
                      <form action='/products/delete/<%= product.id %>' method="GET">
                        <button class="delete" type="submit">Eliminar</button>
                      </form>
                    </div>
                  </div>
                </article>
                <% }) %>
          
          </section>
        </div>
      </main>
      <%- include("./partials/footer.ejs") %>
  </body>