<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("./partials/head.ejs") %>
	<link rel="stylesheet" href="/css/carrito-styles.css">

	<body>
		<%- include("./partials/header.ejs") %>
			<main class="carrito">
				<div class="main-carrito-pc">
					<p class="titulo-carrito">Mi carrito (<%= productsCarrito.length %> Item)</p>
					<div class="bloque-carrito-desktop">
						<div class="productos-carrito">
							<% productsCarrito.forEach(productCarrito=> { %>
								<div class="bloque-producto">
									<div class="imagen-muestra">
										<img class="imagen-producto-muestra" src="<%= productCarrito.image%>">
									</div>
									<div class="info-producto">
										<p class="titulo">
											<%= productCarrito.name%>
										</p>
										<p class="texto-color-producto">Color: <%= productCarrito.color%>
										</p>
										<div class="stock-disponible">
											<p class="text-stock">Cantidad:</p>
											<input type="text" name="quantity" id="contador" class="form-control"
												value="<%= productCarrito.quantity%>" min="1" />
											<form action="/carrito/delete/<%= productCarrito.carritoId %>" method="post">
												<!-- -->
												<button class="borrar" type="submit">
													<i class="fas fa-trash"></i>
												</button>
											</form>
										</div>
									</div>
									<div class="precio">
										$ <%= productCarrito.total%>
									</div>
								</div>
								<% }) %>
						</div>
						<div class="panel-compra">
							<div class="resumen">
								<h2 class="resumen-titulo">Resumen de la compra<i class="fas fa-shipping-fast"></i></h2>
							</div>
							<div class="resumen-compra">
								<div class="lista-agregados">
									<% productsCarrito.forEach(productCarrito=> { %>
										<div class="producto-agregado">
											<p>
												<%= productCarrito.name%>
											</p>
											<p>$<%= productCarrito.total%>
											</p>
										</div>
										<% }) %>
								</div>

								<div class="total">
									<div class="sub-total">
										<h4 class="sub-total-titulo">Total a pagar</h4>
										<h4 class="sub-total-monto">$ <%= productsCarrito.reduce((accumulator, productCarrito)=> {
												return productCarrito.total + accumulator
												},0)%> <!-- 0 indica valor inicial del acumulador -->
										</h4>
									</div>
								</div>
							</div>

							<div class="botones">
								<form action='/carrito/finalizarCompra' class="botones" method="POST">
									<button class="boton-comprar" type="submit" value="compra">Finalizar Compra</button>
								</form>
								<form action="/" class="botones" method="get">
									<button class="boton-carro" type="submit" value="carro">Continua
										Comprando</button>
								</form>

							</div>
							<div class="descuento">
								<h3>Tienes codigo de descuento?</h3>
								<input type="text" placeholder="Ingresa tu codigo de descuento">
								<button class="boton-carro" type="submit" value="carro">Aplicar</button>
							</div>
						</div>
					</div>
				</div>
			</main>
			<%- include("./partials/footer.ejs") %>
	</body>