<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <link rel="stylesheet" href="/css/editar-producto.css">
</head>

<body>
    <%- include("./partials/header.ejs") %>

        <div class="edit">
            <h2 class="copy-edit">Editar producto</h2>
            <div class="edit-product">
                <div class="imagen-product">
                    <img class="imagen" src=<%=producto.image%>>
                    <p class="errorFront"></p>
                </div>
                <form action="/products/edit/<%=producto.id%>?_method=PUT" class="form-register" method="post">
                    <input type="hidden" name="_method" value="PUT">

                    <div id="grupo-titulo" class="grupo-formulario">
                        <% if (locals.errors && locals.errors.precio) {%>
                            <p class="errors">
                                <%= errors.precio.msg %>
                            </p>
                            <% } %>
                                <label for="titulo">Titulo del producto</label>
                                <i class="validacion-estado-icono fas fa-check-circle"></i>
                                <input type="text" name="titulo" class="inputs estado-input titulo-product"
                                    value="<%=producto.name%>" placeholder="Ingrese el nombre del producto">
                                <p class="errorFront"></p>

                    </div>
                    <div id="grupo-precio" class="grupo-formulario">
                        <% if (locals.errors && locals.errors.precio) {%>
                            <p class="errors">
                                <%= errors.precio.msg %>
                            </p>
                            <% } %>
                                <label for="precio">Precio</label>
                                <i class="validacion-estado-icono fas fa-check-circle"></i>
                                <input type="number" name="precio" class="inputs estado-input precio-product"
                                    value="<%=producto.price%>" placeholder="Precio $ARS">
                                <p class="errorFront"></p>

                    </div>
                    <div id="grupo-color" class="grupo-formulario">
                        <label for="color" class="label-form">Color y talle</label>
                        <br>
                        <select id='color' name="color">
                            <% colors.forEach((color)=>{ %>
                                <option value="<%= color.id %>">
                                    <%= color.name %>
                                </option>
                                <% }) %>
                        </select>

                        <select name="size">
                            <% sizes.forEach((size)=>{ %>
                                <option value="<%= size.id %>">
                                    <%= size.size %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div id="grupo-descripcion" class="grupo-formulario">
                        <% if (locals.errors && locals.errors.precio) {%>
                            <p class="errors">
                                <%= errors.precio.msg %>
                            </p>
                            <% } %>
                                <label for="descripcion">Descripcion</label>
                                <i class="validacion-estado-icono fas fa-check-circle"></i>
                                <textarea name="descripcion" class="inputs estado-input description-product"
                                    placeholder="Descripcion del producto"><%=producto.description%></textarea>
                                <p class="errorFront"></p>
                                <p class="errorFront"></p>

                    </div>
                    <div class="buttons">
                        <button class="submit" type="submit">Editar</button>
                        <button class="reset" type="reset">Cancelar</button>
                        <a href="/products/delete/<%= producto.id %>">BORRAR</a>
                    </div>
                </form>
            </div>
        </div>
</body>
<footer>
    <%- include("./partials/footer.ejs") %>
</footer>
<!-- <script src="/js/productsValidation.js"></script> -->
<!-- se comentaron las validaciones -->

</html>