<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <link rel="stylesheet" href="/css/borrar-producto.css">
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <main>
            <div class="contenedor-principal">
                <h2>Estas seguro de querer borrar éste producto: <%= producto.title %>???</h2>
                <div class="botones">
                    <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <button class="boton-borrar" type="submit">Borrar</button>
                    </form>
                    <a href="/tienda"><button class="boton-tienda">Tienda</button></a>
                </div>
            </div>
        </main>
</body>
<footer>
    <%- include("./partials/footer.ejs") %>
</footer>

</html>